[submodule "themes/themeStack"]
	path = themes/themeStack
	url = git@github.com:CaiJimmy/hugo-theme-stack.git
[submodule "hugo-theme-stack"]
	path = hugo-theme-stack
	url = git@github.com:mrpmohiburrahman/hugo-theme-stack.git
